<div id="templatemo_body_wrapper1">
  <div id="templatemo_wrapper"><span id="templatemo_wrapper_top"></span>
    <div id="templatemo_main"><h1>New Post</h1>

      <%= render 'form', post: @post %>

      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>
