
<div id="templatemo_main">

  <p id="notice"><%= notice %></p>

  <h3><%= @post.post_title %></h3>
  <%= image_tag @post.post_img.url , :class => "img_fl img_border" , size: '222x222'  %>
  <p><%= @post.post_body %></p>
  <div class="cleaner h40"></div>

</div>